@import url('./../../index.module.css');

.form {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 40vw;
    top: 15vh;
    right: 10vw;

    box-shadow: 0px 0px 50px #373b4820;
    padding: 2vw 2vw;
}

.formInput {
    margin-bottom: 2.5vh;  
}

.post-button {
    width: 10vh;
    margin: 0vh 1vw 0vh 0vw;
}

.post-title {
    background-color: var(--black);
    padding: 10px;
    position: absolute;
    width: calc(100% - 20px);
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
}

.post-title-label {
    color: var(--white);
}

.post-title-input {
    color: var(--white);
}

.post-tag-label {
    margin-top: 8vh;
}
