@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@200&display=swap');

.navbar {
    width: 100vw;
    height: 6vh;
    position: fixed;
    top: 0;
    background-color: var(--black);
    z-index: 2;
}

.site-name {
    font-family: 'Noto Serif';
    position: relative;
    font-size: 2rem;
    color: var(--dirty-white);
    left: 10vw;
    top: 0.5vh;
    height: 100%;
}

.about-link {
    position: relative;
    left: 12.5vw;
}

.user-info-container {
    position: absolute;
    display: flex;
    right: 12vw;
    top: 1vh;
    color: var(--light-greenish-gray);
}

.user-info {
    margin-left: 1vw;
    margin-top: 0vh;
    display: block;
}

.user-info-name {
    color: var(--dirty-white);
}

.user-info-username {
    font-size: 0.8rem;
}

.login-signup {
    float: right;
    width: 12vw;
    background-color: transparent;
    margin-right: 10vw;
}
